@import url(pessoas.css);
@import url(pessoa__funcao.css);
@import url(pessoa__imagem.css);
@import url(pessoa__nome.css);

.pessoa {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 0) {
    .pessoa {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 925px) {
    .pessoa {
        margin-bottom: 0;
    }
}